.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 13px;
  width: 1920px;
  background-color: rgba(255, 255, 255, 1);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  width: 1920px;
  box-sizing: border-box;
  padding: 18px 12px;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 0;
}

.group-1 {
  display: flex;
  flex-direction: row;
  margin-left: 307px;
  justify-content: space-between;
  align-self: center;
  height: 36px;
  width: 413px;
}

.badge {
  width: 80px;
  height: 36px;
  align-self: center;
}

.group-2 {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  margin-top: 1px;
  position: relative;
  width: 300px;
  box-sizing: border-box;
  padding: 6px 12px 7px;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 20px;
}

.icon-down {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 17px;
  top: 8px;
}

.tag {
  color: rgba(153, 153, 153, 1);
  font-family: SourceHanSansCN-Regular;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  line-height: 22px;
  margin-left: 44px;
  align-self: flex-start;
  max-width: 188px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.group-3 {
  display: flex;
  flex-direction: row;
  margin-left: 428px;
  justify-content: space-between;
  align-self: center;
  height: 36px;
  width: 401px;
  padding: 5px 0 4px;
}

.tag-1 {
  color: rgba(0, 0, 0, 1);
  font-family: SourceHanSansCN-Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  align-self: center;
  margin-bottom: 1px;
  white-space: nowrap;
}

.label {
  color: rgba(0, 0, 0, 1);
  font-family: SourceHanSansCN-Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  align-self: center;
  margin-bottom: 1px;
  white-space: nowrap;
}

.word {
  color: rgba(0, 0, 0, 1);
  font-family: SourceHanSansCN-Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  align-self: center;
  margin-bottom: 1px;
  white-space: nowrap;
}

.icon-down-1 {
  width: 27px;
  height: 27px;
  align-self: center;
}

.english {
  color: rgba(0, 0, 0, 1);
  font-family: SourceHanSansCN-Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  align-self: center;
  margin-bottom: 1px;
  white-space: nowrap;
  text-transform: uppercase;
}

.class-1 {
  display: flex;
  flex-direction: row;
}

.group-4 {
  background-image: url(https://static.imgcook.com/img/test/6211caa0dcc311edaa82597b8de0599c.png),
    url(https://static.imgcook.com/img/test/5facb180dcc311ed89ccad9113af046a.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 111px 451px, 107px 39px;
  background-size: 1px 7px, 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  width: 301px;
  box-sizing: border-box;
  padding: 36px 12px 539px;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 0;
}

.group-item0 {
  width: 95px;
  height: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.icon-down-2 {
  width: 8px;
  height: 5px;
  align-self: flex-start;
  margin: 11px 0 0 4px;
}

.label-1 {
  color: rgba(51, 51, 51, 1);
  font-family: HarmonyOS_Sans_SC;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 20px;
  margin-right: 1px;
  align-self: flex-start;
  white-space: nowrap;
}

.group-item1 {
  width: 95px;
  height: 19px;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: flex-start;
  align-self: center;
  position: relative;
}

.icon-down-3 {
  width: 13px;
  height: 13px;
  position: absolute;
  left: 1px;
  top: 2px;
}

.label-2 {
  color: rgba(51, 51, 51, 1);
  font-family: HarmonyOS_Sans_SC;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 20px;
  margin-left: 29px;
  align-self: flex-start;
  white-space: nowrap;
}

.group-item2 {
  width: 95px;
  height: 19px;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: flex-start;
  align-self: center;
  position: relative;
}

.icon-down-4 {
  width: 12px;
  height: 14px;
  position: absolute;
  left: 2px;
  bottom: 2px;
}

.word-1 {
  color: rgba(212, 48, 48, 1);
  font-family: HarmonyOS_Sans_SC;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 20px;
  margin-left: 29px;
  align-self: flex-start;
  white-space: nowrap;
}

.group-item3 {
  width: 95px;
  height: 19px;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: flex-start;
  align-self: center;
  position: relative;
}

.icon-down-5 {
  width: 15px;
  height: 13px;
  position: absolute;
  left: 1px;
  top: 3px;
}

.favor {
  color: rgba(51, 51, 51, 1);
  font-family: HarmonyOS_Sans_SC;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 20px;
  margin-left: 29px;
  align-self: flex-start;
  white-space: nowrap;
}

.group-item4 {
  width: 95px;
  height: 19px;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: flex-start;
  align-self: center;
  position: relative;
}

.icon-down-6 {
  width: 16px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 2px;
}

.word-2 {
  color: rgba(51, 51, 51, 1);
  font-family: HarmonyOS_Sans_SC;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 20px;
  margin-left: 29px;
  align-self: flex-start;
  white-space: nowrap;
}

.group-item5 {
  width: 95px;
  height: 19px;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: space-between;
  align-self: center;
}

.icon-down-7 {
  width: 13px;
  height: 16px;
  align-self: center;
  margin: 1px 0 0 1px;
}

.word-3 {
  color: rgba(51, 51, 51, 1);
  font-family: HarmonyOS_Sans_SC;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 20px;
  margin-right: 1px;
  align-self: center;
  white-space: nowrap;
}

.group-item6 {
  width: 95px;
  height: 19px;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: flex-start;
  align-self: center;
  position: relative;
}

.icon-down-8 {
  width: 16px;
  height: 14px;
  position: absolute;
  left: 0;
  bottom: 2px;
}

.tag-2 {
  color: rgba(51, 51, 51, 1);
  font-family: HarmonyOS_Sans_SC;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 20px;
  margin-left: 29px;
  align-self: flex-start;
  white-space: nowrap;
}

.group-item7 {
  width: 95px;
  height: 19px;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: flex-start;
  align-self: center;
  position: relative;
}

.icon-down-9 {
  width: 14px;
  height: 7px;
  position: absolute;
  left: 1px;
  bottom: 3px;
}

.logout {
  color: rgba(51, 51, 51, 1);
  font-family: HarmonyOS_Sans_SC;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 20px;
  margin-left: 29px;
  align-self: flex-start;
  max-width: 37px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.class-flex1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 89px;
  width: 100%;
  align-self: center;
}

.jodie {
  display: flex;
  margin-top: 84px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 59px;
  font-weight: 400;
  font-size: 18px;
  color: rgba(51, 51, 51, 1);
  line-height: 24px;
  align-self: flex-start;
  font-family: Microsoft YaHei-Bold∞Version 0.75∞microsoft YaHei∞Bold;
  letter-spacing: 0.36px;
  white-space: nowrap;
}

.group-5 {
  width: 104px;
  height: 104px;
  align-self: flex-start;
  position: relative;
  margin: 74px 0 0 92px;
  background-image: url(https://static.imgcook.com/img/test/5f395640dcc311edae8ff9b3f880c7d0.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 100% 100%;
  background-origin: padding-box;
}

.picture {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 2px;
  transform: translateX(-50%);
}

.jodie {
  color: rgba(51, 51, 51, 1);
  font-family: Microsoft YaHei-Bold∞Version 0.75∞microsoft YaHei∞Bold;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.36px;
  line-height: 24px;
  align-self: flex-start;
  white-space: nowrap;
  margin: 84px 0 0 59px;
}

.public-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 64px;
  padding-top: 89px;
}

.group-7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 611px;
  align-self: flex-end;
}

.subtitle {
  color: rgba(102, 102, 102, 1);
  font-family: HarmonyOS_Sans_SC;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 18px;
  text-align: left;
  align-self: flex-start;
  margin-left: 19px;
  width: 375px;
  height: 33px;
  overflow: hidden;
  text-overflow: ellipsis;
  webkit-line-clamp: 2;
  webkit-box-orient: vertical;
  white-space: break-spaces;
}

.subtitle {
  color: rgba(102, 102, 102, 1);
  font-family: HarmonyOS_Sans_SC;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 18px;
  text-align: left;
  align-self: flex-start;
  margin-left: 19px;
  width: 375px;
  height: 33px;
  overflow: hidden;
  text-overflow: ellipsis;
  webkit-line-clamp: 2;
  webkit-box-orient: vertical;
  white-space: break-spaces;
}

.subtitle {
  color: rgba(102, 102, 102, 1);
  font-family: HarmonyOS_Sans_SC;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 18px;
  text-align: left;
  align-self: flex-start;
  margin-left: 19px;
  width: 375px;
  height: 33px;
  overflow: hidden;
  text-overflow: ellipsis;
  webkit-line-clamp: 2;
  webkit-box-orient: vertical;
  white-space: break-spaces;
}

.group-8 {
  display: flex;
  flex-direction: row;
  margin-top: 18px;
  justify-content: flex-start;
  align-self: center;
  position: relative;
  width: 611px;
}

.meta {
  color: rgba(102, 102, 102, 1);
  font-family: HarmonyOS_Sans_SC;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 18px;
  text-align: left;
  margin-left: 18px;
  align-self: flex-start;
  width: 382px;
  height: 33px;
  overflow: hidden;
  text-overflow: ellipsis;
  webkit-line-clamp: 2;
  webkit-box-orient: vertical;
  white-space: break-spaces;
}

.tag-wrapper {
  background-color: rgba(51, 51, 51, 1);
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 99px;
  top: 0;
  width: 96px;
  padding: 1px 12px 9px;
  border-radius: 2px;
}

.tag-3 {
  color: rgba(255, 255, 255, 1);
  font-family: HarmonyOS_Sans_SC;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 18px;
  margin-right: 4px;
  align-self: flex-start;
  max-width: 64px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  justify-content: flex-start;
  align-self: center;
  width: 611px;
}

.jodie-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  padding-top: 15px;
  padding-right: 12px;
  padding-bottom: 19px;
  padding-left: 12px;
  width: 611px;
  background-color: rgba(252, 252, 252, 1);
  border: 1px solid rgba(102, 102, 102, 0.35);
  border-radius: 12px;
  align-self: center;
  box-sizing: border-box;
}

.jodieidjcom-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  padding-top: 15px;
  padding-right: 12px;
  padding-bottom: 19px;
  padding-left: 12px;
  width: 611px;
  background-color: rgba(252, 252, 252, 1);
  border: 1px solid rgba(102, 102, 102, 0.35);
  border-radius: 12px;
  align-self: center;
  box-sizing: border-box;
}

.xsw-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  padding-top: 15px;
  padding-right: 12px;
  padding-bottom: 19px;
  padding-left: 12px;
  width: 611px;
  background-color: rgba(252, 252, 252, 1);
  border: 1px solid rgba(102, 102, 102, 0.35);
  border-radius: 12px;
  align-self: center;
  box-sizing: border-box;
}

.icon-down-10 {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50px;
  left: 291px;
  background-image: url(https://static.imgcook.com/img/test/62ab99a0dcc311ed8592f134e71282cf.png);
  background-size: 7px 7px;
  background-position: 15px 0px;
  background-repeat: no-repeat;
}

.group-10 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 100px;
  width: 611px;
  align-self: center;
}

.info {
  color: rgba(153, 153, 153, 1);
  font-family: SourceHanSansCN-Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-right: 5px;
  align-self: flex-start;
  width: 208px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  webkit-line-clamp: 2;
  webkit-box-orient: vertical;
  white-space: break-spaces;
}

.tag-6 {
  color: rgba(153, 153, 153, 1);
  font-family: SourceHanSansCN-Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  align-self: center;
  width: 288px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  webkit-line-clamp: 2;
  webkit-box-orient: vertical;
  white-space: break-spaces;
}

.tag-7 {
  color: rgba(153, 153, 153, 1);
  font-family: SourceHanSansCN-Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-indent: 4.142578125px;
  text-align: left;
  margin-left: 38px;
  align-self: center;
  width: 226px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  webkit-line-clamp: 2;
  webkit-box-orient: vertical;
  white-space: break-spaces;
}

.section-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  padding-top: 15px;
  padding-right: 12px;
  padding-bottom: 18px;
  padding-left: 12px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  border-radius: 12px;
  align-self: center;
  box-sizing: border-box;
}

.group-12 {
  display: flex;
  flex-direction: row;
  margin-top: 21px;
  justify-content: flex-start;
  align-self: center;
  position: relative;
  width: 611px;
}

.overlayer {
  background-color: rgba(250, 250, 250, 1);
  position: absolute;
  left: 1px;
  top: 0;
  z-index: 1;
  width: 106px;
  height: 38px;
  box-sizing: border-box;
  border: 1px solid rgba(202, 202, 202, 1);
  border-radius: 12px;
}

.layer {
  background-color: rgba(250, 250, 250, 1);
  position: absolute;
  left: 107px;
  top: 0;
  z-index: 2;
  width: 88px;
  height: 38px;
  box-sizing: border-box;
  border: 1px solid rgba(202, 202, 202, 1);
  border-radius: 0;
}

.mask {
  background-color: rgba(250, 250, 250, 1);
  position: absolute;
  left: 195px;
  top: 0;
  z-index: 3;
  width: 74px;
  height: 38px;
  box-sizing: border-box;
  border: 1px solid rgba(202, 202, 202, 1);
  border-radius: 0;
}

.overlayer-1 {
  background-color: rgba(250, 250, 250, 1);
  position: absolute;
  right: 221px;
  top: 0;
  z-index: 4;
  width: 121px;
  height: 38px;
  box-sizing: border-box;
  border: 1px solid rgba(202, 202, 202, 1);
  border-radius: 0;
}

.layer-1 {
  background-color: rgba(250, 250, 250, 1);
  position: absolute;
  right: 1px;
  top: 0;
  z-index: 5;
  width: 220px;
  height: 38px;
  box-sizing: border-box;
  border: 1px solid rgba(202, 202, 202, 1);
  border-radius: 0;
}

.meta-1 {
  color: rgba(153, 153, 153, 1);
  font-family: SourceHanSansCN-Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  left: 9px;
  top: 69px;
  z-index: 6;
  white-space: nowrap;
}

.block-1 {
  background-image: url(https://static.imgcook.com/img/test/6782eb40dcc311edaa82597b8de0599c.png),
    url(https://static.imgcook.com/img/test/672513d0dcc311ed86f7a15328785a4f.png),
    url(https://static.imgcook.com/img/test/66cda500dcc311ed9a5cd1a05835bf71.png),
    url(https://static.imgcook.com/img/test/630181d0dcc311edae8ff9b3f880c7d0.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 360px 15px, 440px 14px, 402px 14px, 85px 15px;
  background-size: 7px 7px, 4px 7px, 4px 7px, 7px 7px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  z-index: 7;
  width: 611px;
  box-sizing: border-box;
  padding: 9px 12px 151px;
  border: 1px solid rgba(202, 202, 202, 1);
  border-radius: 12px;
}

.label-4 {
  color: rgba(0, 0, 0, 1);
  font-family: SourceHanSansCN-Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 4px;
  align-self: flex-end;
  white-space: nowrap;
}

.container {
  display: flex;
  flex-direction: row;
  margin-left: 48px;
  justify-content: flex-start;
  align-self: flex-end;
  height: 20px;
  width: 348px;
  padding: 3px 0 2px;
}

.icon-down-12 {
  width: 6px;
  height: 7px;
  align-self: flex-end;
  margin-bottom: 5px;
}

.icon-down-13 {
  width: 9px;
  height: 12px;
  align-self: flex-end;
  margin: 0 0 2px 17px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 13px;
  justify-content: space-between;
  align-self: flex-end;
  width: 278px;
}

.group-13 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
}

.icon-down-14 {
  width: 8px;
  height: 12px;
  align-self: center;
  margin-bottom: 1px;
}

.icon-down-15 {
  width: 13px;
  height: 13px;
  align-self: center;
  margin: 0 0 2px 17px;
}

.view {
  padding-bottom: 1px;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  justify-content: flex-start;
  align-self: center;
  height: 13px;
}

.dot-item0 {
  width: 3px;
  height: 3px;
  align-self: center;
}

.dot-item1 {
  width: 3px;
  height: 3px;
  margin-top: 1px;
  align-self: center;
}

.dot-item2 {
  width: 3px;
  height: 3px;
  margin-top: 2px;
  align-self: center;
}

.view-1 {
  padding-bottom: 1px;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  justify-content: flex-start;
  align-self: center;
  height: 13px;
}

.icon-down-item0 {
  width: 8px;
  height: 3px;
  align-self: center;
}

.icon-down-item1 {
  width: 8px;
  height: 3px;
  margin-top: 1px;
  align-self: center;
}

.icon-down-item2 {
  width: 8px;
  height: 3px;
  margin-top: 2px;
  align-self: center;
}

.icon-down-16 {
  width: 14px;
  height: 15px;
  margin-left: 20px;
  align-self: center;
}

.view-2 {
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  justify-content: flex-start;
  align-self: center;
  height: 13px;
  padding: 1px 0 3px;
}

.dot {
  width: 4px;
  height: 4px;
  align-self: center;
  margin-right: 1px;
}

.dot-1 {
  width: 5px;
  height: 5px;
  align-self: center;
}

.view-3 {
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  justify-content: flex-start;
  align-self: center;
  height: 13px;
  padding: 1px 0 3px;
}

.dot-2 {
  width: 4px;
  height: 4px;
  align-self: center;
  margin-right: 1px;
}

.dot-3 {
  width: 5px;
  height: 5px;
  align-self: center;
}

.icon-down-17 {
  width: 12px;
  height: 9px;
  align-self: center;
  margin: 0 0 2px 26px;
}

.icon-down-18 {
  width: 6px;
  height: 7px;
  align-self: center;
  margin-bottom: 2px;
}

.icon-down-19 {
  width: 9px;
  height: 4px;
  align-self: center;
  margin-top: 7px;
}

.icon-down-20 {
  width: 9px;
  height: 4px;
  align-self: flex-end;
  margin: 0 0 2px 16px;
}

.section-wrapper-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  padding-top: 15px;
  padding-right: 12px;
  padding-bottom: 18px;
  padding-left: 12px;
  width: 611px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  border-radius: 12px;
  align-self: center;
  box-sizing: border-box;
}

.group-16 {
  width: 100%;
}

.section-wrapper-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 611px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  border-radius: 12px;
  align-self: center;
  box-sizing: border-box;
}

.group-16 {
}

.group-16 {
  width: 100%;
}

.section-wrapper-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 9px;
  padding-top: 15px;
  padding-right: 12px;
  padding-bottom: 18px;
  padding-left: 12px;
  width: 611px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  border-radius: 12px;
  align-self: center;
  box-sizing: border-box;
}

.group-15 {
  display: flex;
  flex-direction: column;
  margin-top: 43px;
  justify-content: flex-start;
  align-self: center;
  width: 1920px;
}

.submain {
  display: flex;
  flex-direction: row;
  margin-top: 21px;
  justify-content: flex-start;
  align-self: center;
  width: 612px;
}

.group-17 {
}

.empty {
  margin-top: 5px;
  align-self: center;
  width: 611px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(202, 202, 202, 1);
  border-radius: 6px;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: flex-start;
  align-self: center;
  width: 612px;
}

.group-item0-1 {
}

.group-18 {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  justify-content: space-between;
  align-self: center;
  width: 612px;
}

.group-19 {
  display: flex;
  flex-direction: row;
  margin-left: 4px;
  justify-content: space-between;
  align-self: center;
  height: 30px;
  width: 203px;
  padding: 5px 0;
}

.icon-down-21 {
  width: 16px;
  height: 14px;
  align-self: center;
}

.empty-1 {
  align-self: center;
  width: 364px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(202, 202, 202, 1);
  border-radius: 6px;
}

.group-item1-1 {
  margin-top: 20px;
}

.icon-down-22 {
  width: 17px;
  height: 17px;
  position: absolute;
  left: 3px;
  bottom: 5px;
}

.group-20 {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  justify-content: flex-start;
  align-self: center;
  width: 612px;
}

.empty-2 {
  margin-left: 23px;
  align-self: center;
  width: 363px;
  height: 26px;
  box-sizing: border-box;
  border: 1px solid rgba(202, 202, 202, 1);
  border-radius: 6px;
}

.group-item2-1 {
  margin-top: 20px;
}

.icon-down-23 {
  width: 17px;
  height: 17px;
  position: absolute;
  left: 3px;
  bottom: 7px;
}

.group-21 {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  justify-content: flex-start;
  align-self: center;
  width: 612px;
}

.empty-3 {
  margin-left: 29px;
  align-self: center;
  width: 364px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(202, 202, 202, 1);
  border-radius: 6px;
}

.button-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 21px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 1px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
  width: 99px;
  background-color: rgba(51, 51, 51, 1);
  border-radius: 6px;
  align-self: center;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  width: 254px;
  background-color: rgba(254, 254, 254, 1);
  border: 1px solid rgba(51, 51, 51, 1);
  border-radius: 21px;
  box-sizing: border-box;
}
